body{
    background-image: linear-gradient(to right, rgb(47, 243, 21), rgba(0, 38, 255, 0.582));
}


@font-face {
    font-family: Ultra;
    src: url(Ultra/Ultra-Regular.ttf);
}

h1{
    font-family: Ultra;
    position: relative;
    left: 38%;
    top: 10%;
    -webkit-text-stroke: rgb(0, 0, 0) 1px;
    color: rgb(182, 172, 37);
}

h2{
    font-family: Ultra;
    text-align: center;
    color: rgb(28, 159, 168);
    -webkit-text-stroke: black 1px;
}
div.geral{
    background-color: blanchedalmond;
    width: 1010px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
}
.inputc{
    border-radius: 100px;
    width: 20%;
    height: 10%;
    outline: none;
    white-space: normal !important;
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    background-color: rgb(19, 83, 221);
    box-shadow: black 2px 2px 2px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-family: Ultra;
    font-size: 40px;
}

input:hover{
    background-color: blueviolet;
}
input:active{
    background-color: #c542e6;
    box-shadow: 0 0 0 #c542e6; inset: 3px 3px 3px #c542e6;
    transform: translate(3px 3px);
}
p.perguntas{
font-family: cursive;
font-size: 18px;
position: relative;
top: 7%;
left: 5%;
width: 900px;
max-height: 200px;
}

img.fundo{
    position: absolute;
    bottom: 19%;
    width: 60.7%;
    height: 76%;
    right: 19.6%;
    border-radius: 10px;
}

div.name{
    font-family: Ultra;
    font-size: 10px;
    position: absolute;
    top: 75%;
    left: 48%;
}
h1.texto{
    font-family: Ultra;
    position: relative;
    left: 28%;
    top: 10%;
    -webkit-text-stroke: rgb(0, 0, 0) 1px;
    color: rgb(182, 172, 37);
    font-size: 70px;
}